configure
myocamlbuild.ml
_tags
_build/*
setup.data
setup.log
setup.ml
Makefile
*.byte
*.native
bindings/META
bindings/factory_bindings.mldylib
bindings/factory_bindings.mllib
lib/META
lib/factory.mldylib
lib/factory.mllib
lib/libfactory_stubs.clib
stubgen/libffi_types_stubgen_stubs.clib